/* Selector universal  */

* {
    margin: 0;
    padding: 0;
}

/* MIXIN */
@mixin medidas ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}


/* VARIABLES */
$hind: 'Hind', sans-serif;
$rob: 'Roboto', sans-serif;

/* GENERALES */

body {
    background-color: rgb(255, 255, 255);

}


h1 {
    font-size: 300%;
    color: black;
    font-family: $hind;
    text-align: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

h2 {
    font-size: 220%;
    font-family: $hind;
    color: black;
}

h3 {
    font-size: 200%;
    font-family: $rob;
    color: black;
}

hr {
    background-color: #000000;
    height: 1px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 3%;
}

a {
    color: rgb(0, 0, 0);
    font-family: $rob;
    text-decoration: none;
}


/*ACERCA DE*/
.acercade {
    text-align: center;
}

/* AGENDA */
.agenda {
    font-size: 90%;

    .row {
        img {
            box-shadow: 10px 10px 19px -5px rgba(87, 60, 170, 0.62);
            -webkit-box-shadow: 10px 10px 19px -5px rgba(87, 60, 170, 0.62);
            -moz-box-shadow: 10px 10px 19px -5px rgba(87, 60, 170, 0.62);
        }
    }
}

/* PRENSA */

/* Multimedia */

#galería .col-lg-4 {
    margin: 0 !important;
    padding: 25%;
}

#galeria img {
    @include medidas(100%, 250px);
    padding: 1%;
    box-shadow: 10px 10px 19px -5px rgba(87, 60, 170, 0.62);
    -webkit-box-shadow: 10px 10px 19px -5px rgba(87, 60, 170, 0.62);
    -moz-box-shadow: 10px 10px 19px -5px rgba(87, 60, 170, 0.62);

    &:hover {
        border: 2px solid white;
    }

}

@import "partials/headerFooter";
@import "partials/index";
@import "partials/mediaQ";