/*HEADER**/
header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    position:fixed;
    @include medidas(100%, 18%);
    z-index: 100;
    img{ @include medidas(180px, 100px);
    }

}


/* NAVBAR **/
.nav-link {
    font-weight: 300;
    margin: 15px;
    color: rgb(27, 11, 34);
        &:hover {
        color: #2e104c;
        opacity: 70%;
        

    }

}

.navbar {

    display: flex;
}

/* FOOTER **/

footer {
    background-image: url(../Multimedia/layered-waves-haikei.png);
    @include medidas(100%, 150px);
       font-family: $hind;
    font-weight: 400;
    color: #ffffff;
    text-align: center;


    a {
        text-align: center;
        color: rgb(232, 219, 219);
        font-size: 28px;
        @include medidas(3rem, 30px);
        margin-top: 2%;
        display: inline-block;
        opacity: o, 75;
        padding-top: 2%;

        &:hover {
            opacity: 70%;
            transform: translateY(-5%);
            
        }

    }

    p {
        text-align: right;
        margin-top: 2%;
        color: rgb(232, 219, 219);
        margin-right: 1%;
        font-size: small;
    }
}