
/* INICIO**/
.container {
    max-width: 1150px;
    display: flex;
    text-align: justify;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2%;

}

.card-img-top {
    height: 350px;
    box-shadow: 5px 5px 20px rgba(87, 60, 170, 0.62);
}

.card-body {
    text-align: center;
    font-family: $hind;
    box-shadow: 5px 5px 20px rgba(87, 60, 170, 0.62);
}

.btn-primary {
    display: flex;
    justify-content: center;
    background-color: #000000;
    margin-left: 25%;
    margin-right: 25%;
    &:hover{  
        background-color: white;
        color: #000000;
        border-color: black;
        &:active{
            color: #000000;
            background-color: white;
            border-color: black; }


    }
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(87, 60, 170, 0.62);
    transform: translateY(-1%);
}