/* RESPONSIVE **/
@media only screen and (min-width: 800px) {

    .carousel-inner {
        @include medidas(100%, 550px);

    }


}

@media only screen and (min-width: 0px) and (max-width: 799px) {
    .carousel-item {
        height: 600x;
    }

    .carousel-inner {
        @include medidas(100%, 140px);

    }

    h1 {
        padding-top: 10%;
    }

    .galeriafondo,
    .acercadefondo,
    .agendafondo,
    .prensafondo {
        @include medidas(100%, 300px);
        background-size: cover;
    }

    footer {
        width: 100%;

        a {
            color: rgb(0, 0, 0);
            padding-top: 6%;
            @include medidas(2rem, 5%);

        }

        p {
            color: #a1a0a2;
            display: flex;
            justify-content: center;
            font-size: 80%;
            padding-top: 12%;
            width: 100%;

        }
    }

    .container {

        padding: 15%;
        font-size: 90%;
        text-align: center;
    }

    .img-fluid {
        flex-direction: row;


    }


    .btn-primary {
        margin-top: 5%;
        margin-bottom: 5%;

        &:hover {
            background-color: white !important;

            color: #000000 !important;
            border-color: black !important;

        }

    }
.acercade{
    text-align: center;
    
}
    .prensa {
        font-size: 60%;
    }

    .agenda {
        p {
            font-size: 150%;
            padding-top: 3%;
        }

        h3 {
            padding-top: 15%;

        }


    }

    .prensa {
        h2 {
            font-size: 350%;
        }

        h3 {
            font-size: 250%;

        }

        p {
            font-size: 200%;
            text-align: justify;
        }
        a{
            font-size: 150%;
        }

    }





}