/* RESPONSIVE **/
@media only screen and (min-width: 800px) {
    
    .carousel-inner {
        @include medidas(100%, 550px);
        
    }


}

@media only screen and (min-width: 0px) and (max-width: 799px) {
    .carousel-item{
        height: 300px;
    }
    .carousel-inner {
        @include medidas(100%, 140px);
        
    }
   

    footer {
        width: 100%;

        a {
            color: rgb(0, 0, 0);
            padding-top: 3%;
            @include medidas(2rem, 5%);
            
        }

        p {
            color: #a1a0a2;
            display: flex;
            justify-content: center;
            font-size: 80%;

            padding-bottom: 0%;
            width: 100%;

        }
    }

    .container {
        
        padding: 15%;
        font-size: 90%;
        text-align: center;
    }

    .img-fluid {
        flex-direction: row;


    }
   

    .btn-primary {
        margin-top: 5%;
        margin-bottom: 5%;
        &:hover { 
            background-color: white !important;

            color: #000000 !important;
            border-color: black !important;
    
        }
       
    }
           

    .prensa {
        font-size: 60%;

    }


}